@import "tailwindcss";
@import "./theme.css";

:root,
:root > body,
:root > body > #react-root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*
	This selector chooses Navlinks which links to the currently showed page
*/
a.active {
	color: lightblue;
}
