@theme {
	/*
        Examples of theme variables:
        --font-test: Geneva, Verdana, sans-serif;
        --color-test: #9067C6;
    */
	--color-dark: #166088;
	--color-primary: #7bb2d9;
	--color-secondary: #edf7d2;
	--color-positive: #26532b;
	--color-negative: #b80c09;
}
